body{
    background-color: rgb(194, 194, 194);
    display: flex;
    justify-content: center;
}

h2{
    padding: 8%;
    color: #151A41;
}

.container{
    margin-top: 5%;
    background-color: white;
    text-align: center;
    width: 460px;
    height: 491px;
    border-radius: 15px;
}

.satisfaction{
    display: flex;
    justify-content: space-around;  
}

.btn-group{
    justify-content: center;
    width: 55%;
}

.btn{
    margin: 5% 0;
    border-radius: 15px;
    border: 1px solid #151A41;
    background-color: white;
    cursor: pointer;
    font-size: 1em;
    padding: 4% 15%;
}

.btn:hover{
    background-color: rgb(247, 112, 112);
}

.btn a{
    text-decoration: none;
    color: #151A41;
}

/* mediaqueries */
@media (max-width:540px){
    .container{
        width: 410px;
        height: 441px;
    }
}

@media (max-width:411px){
    .container{
        width: 350px;
        height: 381px;
    }
}
